<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gaatuh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/06eaf007-8a32-44d2-a16f-1a74036f19fe/resourceGroups/RG-URUnivIT-AZ-SynapseWorkspace/providers/Microsoft.Web/sites/GAAtuh</ResourceId>
    <UserName>$GAAtuh</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://gaatuh.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>